# .gitignore
.venv/
__pycache__/
*.pyc
.DS_Store
/data/predictions/*
/data/preprocessing/*
/data/raw/*
/data/processed/*
/models/scalers/*
/models/*.pth
/models/*.ckpt
/src/outputs/
data/outputs/
outputs/
logs/*
*.egg-info
outputs/
.env
/cache