# .gitignore
.venv/
__pycache__/
*.pyc
.DS_Store
/data/predictions/*
/data/preprocessing/*
/data/raw/*
/data/processed/*
/models/scaler.pkl
/src/outputs/
data/outputs/
outputs/
logs/*
models/*
*.egg-info
outputs/